* { margin: 0px; padding: 0px; }
        .nav {
            /* margin: 20px auto;*/
            width: 100%;
            margin: auto;
            background-color: white;
            /* list-style: none; */
            text-align: justify;
            font-size: 0;
            position: fixed;
            z-index: 1;
            display: flex;
         }
         .nav>.logo{
            display: inline-block;
            /* vertical-align: middle; */
            width: 120px;
            height: 40px;
            background-image: url(https://res.devcloud.huaweicloud.com/obsdevui/diploma/8.1.12.003/logo.ee14f183979fd61abac2.svg);
            background-size: 100% 100%;
            margin: 20px 40px;
            /* float: left; */
            
         }
         .nav ul li{
             display: inline-block;
             padding: 12px 30px;
             text-align: center;
             margin: auto;
         }
         .ul1{
             /* margin-left: 1px; */
             display: inline-block;
             vertical-align: middle;
             margin: auto;
             line-height: 58px;
             /* display: flex; */
         }
         .ul2{
            /* float: right;  */
            /* display: inline-block; */
            /* margin-right: -450px; */
            margin-top: -1000px;
         }
         .nav li a{
             font-size: 15px;
             display: block;
             width: 100%;
             text-decoration: none;
             /* color: black; */
         }
         .navBtn>a:first-child{
             color: rgb(76, 144, 247);
             border-right: none;
         }
         a:visited{color: black;}
         a:hover{color:rgb(76, 144, 247);}
         
         .button1{
            width: 100px;
            height: 34px;
            border: 1px solid #e3e5e9;
            border: none;
            color: black;
            outline: none;
            cursor: pointer;
            border-radius: 40px;
            /* display: inline-block; */
            float:right;
            margin-top: 21px;
            margin-right: -250px;
         }
         .button{
             /* margin: auto; */
             padding-top: 30px;
            position: relative;
            left: 350px;
            /* top: 30px; */
            outline: none;
            cursor: pointer;
         }
         .bu1,.bu2{
             text-decoration: none;
         }
         .button_1,.button_2{
             background: white;
             border: 0px;
             margin-top: 30px;
             font-size: 15px;
             margin-right: 10px;
         }
         .button1:hover{border:1px solid rgb(76, 144, 247);}
         .button3:hover{border:1px solid rgb(76, 144, 247);}
        .header {
            display: flex;
         }
        .content { 
            margin: 0px auto;
            /* display: flex; */
        }
        .content .intro-box {
            
            color: gray;
            background:white;
            width: 75%;
            height: 100px;
            border: 1px solid white;
            margin: auto;
            font-size: 16px;
            border-radius: 8px;
            position: relative;
            top: -25px;
            display: flex;
            /* box-shadow: gray: 0px 0px  20px rgba(41, 48, 64, 1) ; */
            box-shadow:2px 2px 3px #aaaaaa;
         }
         .class_text1{
             padding-top: 10px;
         }
         .class_text2{
             color: gray;
             margin-bottom: 30px;
         }
         .button2{
            width: 100px;
            height: 34px;
            background: rgb(45, 105, 233);
            border: none;
            color: white;
            outline: none;
            cursor: pointer;
            border-radius: 40px;
         }
         .button3{
            width: 100px;
            height: 34px;
            background: white;
            border: none;
            color: black;
            outline: none;
            cursor: pointer;
            border-radius: 40px;
            border: 1px solid rgb(192, 189, 189);
            margin: 20px;
         }
        .content .class-box {
            text-align: center;
            /* width: 70%; */
            margin: auto;
            /* border-radius: 8px; */
            display: block;
            padding: 15px;
            /* display: flex; */
            /* width: 100%;
            background-image: url(https://res.devcloud.huaweicloud.com/obsdevui/diploma/8.1.12.003/cloud-class.5974862e24f459dd518a.png); */
         }
         .content .class-box ul li{
             display: inline-block;
             padding: 12px 15px;
             text-align: center;
             /* margin: 20px; */
         }
         .card1,.card2,.card3,.card4,.card5,.card6,.room1,.room2,.room3,.room4,.room5,.room6{
             width: 380px;
             margin: 0 30px 30px 0;
             border-radius: 12px;
             display: inline-block;
             box-shadow:2px 2px 3px #aaaaaa;
         }
         .card1_2,.card2_2,.card3_2,.card4_2,.card5_2,.card6_2,.room1_2,.room2_2,.room3_2,.room4_2,.room5_2,.room6_2{
             width: 100%;
             position: relative;
             /* box-shadow:2px 2px 3px #aaaaaa; */
         }
         .card1_3,.card2_3,.card3_3,.card4_3,.card5_3,.card6_3,.room1_3,.room2_3,.room3_3,.room4_3,.room5_3,.room6_3{
             height: 200px;
             background-image: url(https://res.devcloud.huaweicloud.com/obsdevui/diploma/8.1.12.003/cloud-class.5974862e24f459dd518a.png);
         }
         .card1_3_1{
             background-position-y: 0px;/*设置背景图偏移量*/
         }
         .card2_3_1{
             background-position-y: -200px;
         }
         .card3_3_1{
            background-position-y: -400px;
         }
         .card4_3_1{
            background-position-y: -600px;
         }
         .card5_3_1{
            background-position-y: -800px;
         }
         .card6_3_1{
            background-position-y: -1000px;
         }
         .room1_3_1{
             background-position-y: -1200px;
         }
         .room2_3_1{
             background-position-y: -1400px;
         }
         .room3_3_1{
            background-position-y: -1600px;
         }
         .room4_3_1{
            background-position-y: -1800px;
         }
         .room5_3_1{
            background-position-y: -2000px;
         }
         .room6_3_1{
            background-position-y: -1000px;
         }
         .card1_4,.card2_4,.card3_4,.card4_4,.card5_4,.card6_4,.room1_4,.room2_4,.room3_4,.room4_4,.room5_4,.room6_4{
             padding: 0 20px;
         }
         .card1_5,.card2_5,.card3_5,.card4_5,.card5_5,.card6_5,.room1_5,.room2_5,.room3_5,.room4_5,.room5_5,.room6_5{
             height: 56px;
             width: 100px;
             margin-bottom: 8px;
         }
         .card1_6,.card2_6,.card3_6,.card4_6,.card5_6,.card6_6,.room1_6,.room2_6,.room3_6,.room4_6,.room5_6,.room6_6{
             margin-top: 16px;
         }
         .card1_7,.card2_7,.card3_7,.card4_7,.card5_7,.card6_7,.room1_7,.room2_7,.room3_7,.room4_7,.room5_7,.room6_7{
             width: 100%;
             font-size: 16px;
             color: black;
             /* overflow: hidden; */
             white-space: nowrap;/*控制空白字符显示，空格被合并*/
             /* text-overflow: ellipsis; */
             font-weight: 700;
         }
         .card1_8,.card2_8,.card3_8,.card4_8,.card5_8,.card6_8,.room1_8,.room2_8,.room3_8,.room4_8,.room5_8,.room6_8{
             margin-top: 8px;
             color: gray;
             font-size: 12px;
         }
         .card1_9,.card2_9,.card3_9,.card4-9,.card5_9,.card6_9,.room1_9,.room2_9,.room3_9,.room4-9,.room5_9,.room6_9{
             /* height: 48px; */
             /* line-height: 24px; */
             width: 100%;
             font-size: 14px;
             color: rgb(48, 46, 46);
             overflow: hidden;
             /* text-overflow: ellipsis; */
             display: -webkit-box;
             -webkit-line-clamp: 2;
             -webkit-box-orient: vertical;
             letter-spacing: .5px;
             word-break: break-all;
         }
         .card1_10,.card2_10,.card3_10,.card4_10,.card5_10,.card6_10,.room1_10,.room2_10,.room3_10,.room4_10,.room5_10,.room6_10{
             margin-top: 5px;
             width: 100%;
             height: 1px;
             opacity: .05;

         }
         .card1_11,.card2_11,.card3_11,.card4_11,.card5_11,.card6_11,.room1_11,.room2_11,.room3_11,.room4_11,.room5_11,.room6_11{
             overflow: hidden;
             padding: 14px 0;
         }
         .card1_12,.card2_12,.card3_12,.card4_12,.card5_12,.card6_12,.room1_12,.room2_12,.room3_12,.room4_12,.room5_12,.room6_12{
             font-size: 14px;
             text-align: center;
             line-height: 20px;
             color: red;
             padding: 2px 4px;
             border-radius: 2px;
             background-color: rgba(228, 31, 43, .1);
             float: right;
         }
         #yun,#study,#activity{
             font-size: 30px;
             font-weight: bold;
             text-align: center;
             margin: 20px;
         }
        .content .market-box {
            /* margin-top: 50px; */
            text-align: center;
            background: rgb(248, 247, 244);
            padding: 50px;
            
         }
         .content .market-box ul li{
             display: inline-block;
             padding: 12px 15px;
             text-align: center;
             /* margin: 20px; */
         }
        .content .activity-box {
            margin: 0px auto;
         }
         .activity-box a{
             text-decoration: none;
             padding-bottom: 30px;
             
         }
         .box1,.box2,.box3,.box4,.box5,.box6 {
            /* padding: 20px; */
            /* border: 1px solid red; */
            border-bottom: 1px solid gray;
            margin: 15px 15%;
            font-size: 30px;
         }
         /* .img1{
             background-image: url(https://res.devcloud.huaweicloud.com/obsdevui/diploma/8.1.12.003/notice.b7839ff8db59462824d7.png);
         } */
         .title1,.title2,.title3,.title4,.title5,.title6 {
             font-size: 20px;
             color: black;
             line-height: 36px;
             /* padding-bottom: 60px; */
             vertical-align: top;
         }
         .text1,.text2,.text3,.text4,.text5,.text6 {
             font-size: 15px;
             color: grey;
             display: inline-block;
             line-height: 24px;
             margin-left: auto;
             /* position: relative;
             left: -480px; */
         }
         .text1{
            position: relative;
             left: -480px;
         }
         .text2{
             position: relative;
             left: -510px;
         }
         .text3{
            position: relative;
             left: -453px;
         }
         .text4{
            position: relative;
             left: -453px;
         }
         .text5{
            position: relative;
             left: -503px;
         }
         .text6{
            position: relative;
             left: -465px;
         }
        .footer {
            background: rgb(236, 236, 233);
            text-align: center;
            height: 100px;
            margin: auto;
            font-size: 15px;
            line-height: 50px;

            /* position: fixed; */
            bottom: 0;
            /* left: 0;
            right: 0; */
            text-align: center;
         }
         .footer1{
             float: left;
             padding-top: 30px;
             padding-left: 150px;
         }
         .footer2{
             float: right;
             padding-top: 30px;
             padding-right: 150px;
         }
         .footer a{
            text-decoration: none;
         }
         .right{
             float: right;

             /* margin-right: px; */
             border: 1px ;
             background: rgb(236, 82, 21);
             color: aliceblue;
             display: flex;
             display: inline-block;
             z-index: 1;
         }
         .right1{
             padding: 1px 5px;
             line-height: 25px;
         }