{
  "extends": "eslint-config-egg",
  "rules": {
    "no-unused-vars": "off",
    "strict": 0,
    "comma-dangle": "off",
    "no-trailing-spaces": "off",
    "prefer-const": "off",
    "semi": "off",
    "array-bracket-spacing": "off",
    "eol-last": "off"
   }
}
